<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div>
        <h2>Name: <%= user.name %></h2>
        <h2>Email: <%= user.email %></h2>
        <form action="/update/<%= post._id %>" method="post">
            <textarea type="text" placeholder="bio" name="content"><%= post.content %></textarea>
            <input type="submit">
        </form>
    </div>
</body>
</html>